
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}
body {
  color: #d5b0bf;
  text-align: left;
}
/* Fix for responsive images */
img {
  max-width: 100%;
}
