@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #373737; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #373737;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #373737;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #373737; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #373737; }

::placeholder {
  /* Most modern browsers support this now. */
  color: #373737; }

* {
  box-sizing: border-box; }

/*Note: fix so that images will scale with their containers. We'll chat about this more when we cover responsive design*/
body {
  font-family: "Open Sans Condensed";
  color: #373737; }

nav {
  margin: 25px 0 25px 0;
  background: white;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 100;
  position: center;
  text-align: center; }

nav a {
  font-family: "Open Sans Condensed";
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #373737;
  padding: 75px 20px 20px 75px; }

nav a:hover {
  color: #C0B238; }

header {
  display: block;
  max-width: none;
  text-align: center;
  text-decoration: none;
  font-family: Pacifico;
  margin-bottom: 60px;
  background-image: url(../img/SJDPClouds.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F5;
  padding: 30px 0;
  color: #373737;
  font-size: 30px; }
  header a {
    text-align: center;
    text-decoration: none;
    color: #373737; }

header a:hover {
  color: #A7B3A5; }

header h1 {
  color: #373737; }

header h2 {
  font-family: "Open Sans Condensed";
  font-size: 20px;
  color: #373737; }

header h3 {
  font-size: 15px;
  font-family: "Open Sans Condensed";
  color: #373737; }

aside p {
  text-align: left;
  color: #373737;
  font-size: 14px;
  margin-left: 30px; }

.aboutcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #F4F4F4;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px; }
  .aboutcontainer h3 {
    font-family: "Open Sans Condensed";
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px; }
  .aboutcontainer h5 {
    font-family: "Open Sans Condensed";
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400; }
  .aboutcontainer img {
    display: block;
    position: relative;
    align-items: right;
    margin-left: 30px; }
  .aboutcontainer div {
    position: center;
    text-align: center;
    font-size: 20px; }
  .aboutcontainer div a {
    text-decoration: none;
    text-transform: uppercase;
    color: #44545E;
    padding-top: 20px; }
  .aboutcontainer p {
    text-align: center;
    font-size: 14px; }

article div h4 {
  font-family: "Open Sans Condensed";
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400; }

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  margin: 30px auto;
  max-width: 700px;
  padding: 20px;
  border-radius: 5px; }

form h4 {
  font-size: 20px;
  letter-spacing: .09em; }

input {
  display: block;
  width: 100%; }

input:focus {
  border: 4px solid #C0B283; }

textarea {
  display: block;
  height: 100px;
  margin-left: 15%;
  margin-right: 15%;
  width: 100%;
  resize: none; }

textarea:focus {
  border: 4px solid #C0B283; }

body {
  text-align: center; }

button {
  /* To remove the default border: */
  border: none;
  /* To add space inside button */
  padding: 10px 18px;
  /* To add a shadow behind button: */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  /* To Round corners: */
  border-radius: 4px;
  /* To Transition hover effect: */
  transition: all .15s ease;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .07em;
  color: #fff;
  background: #F4F4F4; }

button:hover {
  transform: translateY(-2px);
  color: #C0B283;
  background-color: #373737; }

.hamburger {
  background-color: gray;
  font-size: 27px;
  padding: 10px 30px;
  display: none; }

.menu {
  transform: translateY(0px);
  transition: all 1s linear;
  position: relative;
  display: inline-block; }

.menu-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.menu-content a:hover {
  background-color: gray; }

.imgcontainer {
  display: flex;
  position: relative;
  background-size: cover;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 50px;
  justify-content: center; }

.featured {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .09em;
  background-color: #F4F4F4;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px; }

.blogcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #F4F4F4;
  padding-left: 20px;
  padding-right: 20px; }

.blogpost {
  display: block;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #44545E; }

.blogpost h4 {
  text-decoration: underline; }

.read_more {
  display: grid;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  grid-column-gap: 20px;
  /* CSS Validator - Error for line above - not sure what I should have done differently */
  text-align: center;
  align-items: center;
  background-color: white; }

.read_more:hover {
  transition: opacity 1s;
  opacity: .15; }

.blogpost {
  position: relative; }

.baja {
  margin: auto; }

.guanajuato {
  margin: auto; }

.zipolite {
  margin: auto; }

.load {
  /* To remove the default border: */
  border: none;
  /* To add space inside button */
  padding: 10px 18px;
  /* To add a shadow behind button: */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  /* To Round corners: */
  border-radius: 4px;
  /* To Transition hover effect: */
  transition: all .15s ease;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .07em;
  color: #fff;
  background: #F4F4F4; }

.fa {
  padding-top: 20px;
  font-size: 30px;
  color: #7B98AA; }

.bigger {
  padding-top: 20px;
  font-size: 60px;
  color: #7B98AA; }

footer p {
  text-align: center;
  text-decoration: none;
  background-color: #DCD0C0;
  padding: 20px 0 20px 0; }
  footer p a {
    text-align: center;
    text-decoration: none;
    color: #373737; }

@media screen and (max-width: 950px) {
  .aboutcontainer {
    grid-template-columns: repeat(1, 1fr);
    text-align: left; } }
@media screen and (max-width: 950px) {
  div p {
    text-align: center; } }
@media screen and (max-width: 600px) {
  .hamburger {
    display: block; } }
@media screen and (max-width: 600px) {
  nav a {
    display: none; } }

/*# sourceMappingURL=style.css.map */
