@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

/* ----------------------------------------
Base Styles
------------------------------------------- */
body {
	font-family: "Raleway", sans-serif;
	color: #7B98AA;
}
/* font and color have been set, margins may be wrong */
article p {
	font-family: "Lato", sans-serif;
}
nav a {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #7B98AA;
	padding: 75px 20px 20px 75px;
}
/* do I need to list a font family since the body is the same font fam? */
nav {
	margin: 15px 0 60px 0;
	text-align: center;
}
header {
		max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
    background-image: url(../images/blog_header_bg.jpg);
    background-size: cover;
    background-color: #cccccc;
    padding: 90px 0;
		margin: 0;
}

h1 a {
	color: #FFFAF0;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 37px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	margin: 50px;
	letter-spacing: 10px;
}
/* come back to ^ to "center" Monument */
article h1 {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 600;
}
article h2 {
	font-family: Raleway, sans-serif;
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 40px;
	text-transform: uppercase;
	text-align: left;
}
article h3 {
	color: #7898AA;
	text-align: left;
	font-family: "Raleway", sans-serif;
}
article p {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin: 30px auto;
}
/* Fix for responsive images */
img {
	max-width: 100%;
	display: block;
	margin: 30px auto;
}
/* About Section - Medium */
aside h3 {
	font-family: "Raleway", sans-serif;
	text-align: left;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	padding-top: 50px;
}
aside h3 img {
	max-width: 100px;
	display: block;
}
.issues {
	text-decoration: none;
	line-height: 25px;
	font-family:"Raleway";
	font-size: 15px;
	font-weight: 400;
	color: #44545E
}
/* Need to style links, and resize/reposition photo */
footer {
		text-align: center;
		background-color: #CDF3F6;
		padding: 20px;
}
/* Social Media Links */
footer a {
	text-decoration: none;
	text-transform: uppercase;
	color: #44545E;
}
footer p {
	margin: 10px 0px 0px 0px;
}
footer p a {
	font-family: "Lato", sans-serif;
}
footer div {
	text-align: center;
	padding: 50px 0 50px 0;
	font-size: 30px;
}
footer div a i {
	margin: 20px;
}
i {
    width: 2.875em;
}
footer div {
    display: inline-block;
    font-size: 30px;
    overflow: visible;
    vertical-align: -.125em;
}
#author {
	text-transform: none;
	color: #7B98AA;
}
hr {
	border: 1px solid #44545E;
}
.container {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-row-gap: 10px;
	grid-column-gap: 40px;
	margin-left: 100px;
	margin-right: 100px;
}
/* padding for button to create space inside block
	margin for spacing them apart */
input {
	text-align: center;
	border-style: none;
	border-spacing: 20px;
	font-size: 16px;
}
button {
	background-color: #CDF3F6;
	border-color: #7B98AA;
	border-width: thin;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: none;
	color: #708090;
}
